**/.DS_Store
**/.venv
**/session.session
**/data
content/gloabal_text.txt
.env
checkpoints
src/__pycache__
notebooks/my_notes
**/.eggs
**/build
**/Digital_Assistant.egg-info
**/dist
api_keys_status.pkl
**/__pycache__
**/__pycache__/
**/digital_assistant.log
.python-version